{% extends "fo/front_generic.html" %}
{% load staticfiles %}
{% block espace %}
Accueil
{% endblock %}

{% block content %}

<!-- 
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="inscriptions-tab" data-toggle="tab" href="#inscriptions" role="tab" aria-controls="inscriptions" aria-selected="false">Inscriptions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="edt-tab" data-toggle="tab" href="#edt" role="tab" aria-controls="edt" aria-selected="false">Emploi du temps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="devoirs-tab" data-toggle="tab" href="#devoirs" role="tab" aria-controls="devoirs" aria-selected="false">Devoirs</a>
  </li>
</ul>
-->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">    
<div class="card">
<div class="card-header">Accueil</div>
<div class="card-body">
    Bienvenue {{ user }}
</div>
</div> 
</div>
<!-- fin tab accueil -->
  <div class="tab-pane fade" id="inscriptions" role="tabpanel" aria-labelledby="inscriptions-tab">
  {% for insc in groupeeleve %} 
  {% if insc.groupes %}
  <div class="card">  
<div class="card-header"><!-- Inscriptions {{insc.annsco}} -->  {% for fe in filiereeleve %} {% if fe.filiere.diplome.anneescolaire.id == insc.annsco.id %} {{fe.filiere}} {% endif %}{% endfor %}</div>
<div class="card-body">
<div class="table-responsive">
   <table class="table">
{% for ge in insc.groupes %} 
<tr>
 <td>
 {{ ge.groupe.ue.nom }} groupe {{ ge.groupe.nom }}
</td>
<td>
{{ge.groupe.ue.periode}}
</td>
<td>{{ge.groupe.ue.get_cours.count}}</td>
<td>
{% for geens in ge.groupe.enseignants.all %} 
{{ geens.nom }} {{ geens.prenom }}, 
{% endfor %}
</td>
</tr>  
 {% endfor %}     
</table>
</div>
</div>
</div> 
{% endif %}
{% endfor %}
  </div>
  <div class="tab-pane fade" id="edt" role="tabpanel" aria-labelledby="edt-tab">
  
  <div class="card">     
  <div class="card-header"><div id="panelheadingcalendar">
</div></div>     
  <div class="card-body" id="loading" style="display: none">
    <img src="{% static 'bo/Preloader_1.gif' %}"  id="gif" style="display: block; margin: 0 auto;">
 </div>
  <div class="card-body" id="panelcalendar">     
  <div id ="calendarel"></div>
  <div class="table-responsive" id="calendartablediv" style="display:none">
<table id="calendartable" class="table" style="width:100%">
<thead>
<tr>    
<!--<th style="display:none">idcours</th>-->
<th>Titre</th>  
<th>Date de début</th>  
<th>Date de fin</th> 
<th></th>                                                                       
</tr>   
</thead>  
</table>
</div>     
  </div>     
  </div>
  </div>
  <div class="tab-pane fade" id="note" role="tabpanel" aria-labelledby="note-tab">
  <div class="card">     
  <div class="card-header">Notes</div>     
  <div class="card-body">     
  <div class="table-responsive">
   <table class="table">
{% for nott in listenotes %} 
<tr>
 <td>
 {{ nott.controle.cours.get_groupes }} 
</td>
<td>
 {{ nott.controle.cours.get_date_cours}} {{ nott.controle.cours.get_heure_debut}}-{{ nott.controle.cours.get_heure_fin}} 
</td>
<td>
{{nott.note}}
</td>
</tr>  
 {% endfor %}     
</table>
</div>
  </div>     
  </div>
  </div>

<!-- end tab -->
</div>
{% endblock %}




