{% extends "bo/administratifbase.html" %}

{% block liste %}

<!--MENU -->
<form method="post" name="formdelgroupe" id="formdelgroupe">
 {% csrf_token %}
 {% if modele is None %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bo:administratif'  %}">Accueil</a></li>
    </ol>
</nav>
<div class="card">
  <div class="card-header">
    Menu
  </div>
  <ul class="list-group list-group-flush"> 
    <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/diplome" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Diplômes</a>
  </li>
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/filiere" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Filières</a> 
  </li> 
 <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/UE" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Cours</a> 
  </li> 
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/salle" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Salles</a> 
  </li> 
  <!-- <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/cours" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Cours</a> 
  </li> -->
  <!-- <li class="list-group-item">
   <a href="{% url 'bo:administratif'  %}/groupe" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Groupe</a>
  </li>-->
  <li class="list-group-item">
  <a href="{% url 'bo:administratif' %}/eleve " class="btn btn-link"><i class="fas fa-users"></i>&nbsp;&nbsp;&nbsp;Eleves</a> 
  </li>
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/enseignant" class="btn btn-link"><i class="fas fa-users"></i>&nbsp;&nbsp;&nbsp;Enseignants</a>
  </li>
  </ul>
</div>
 {% endif %}
 {% if modele is not None %}
 
<div class="card" id="groupesdt_list" {% if oid is not None or mode == "add" %} style="display:none" {% endif %}>
<div class="card-header">
<label class="text-capitalize">Liste des {{modele}}</label>&nbsp;&nbsp;&nbsp;
</div>
<div class="card-body">

<!--{{ formFilter }} -->
<div class="card">
<div class="card-body">
<div class="row">
{% for field in formFilter %}
<div class="col-sm-1"><label>{{ field.label }}</label></div><div class="col-sm-3">{{ field}}</div>
{% endfor %}
</div>
</div>
<div class="card-header">
<a class="btn btn-link" href="{% url 'bo:administratif'  %}/{{modele}}/add">Ajouter</a>
<!-- <span class="btn btn-link" id="groupesdt_add">Ajouter</span> --><input type="submit" class="btn btn-link" name="Supprimer" value="Supprimer"> <div class="float-sm-right"><div id="groupesdt_newfilter"></div></div>
</div>
</div>
 
<!------------->
<!-- groupes -->
<!------------->
<div class="table-responsive">
{% if modele == "salle" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Salle</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.nom }}</a></td>
<td></td>
<td></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
{% elif modele == "filiere" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Groupe</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.nom }}</a></td>
<td></td>
<td></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--- ---->
{% elif modele == "groupe" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Groupe</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.ue }} groupe {{ge.nom}}</a></td>
<td>
{% for hi in ge.enseignants.all %}
{{hi}}
{% endfor %}
</td>
<td>{{ ge.get_nb_eleves }}</td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!------------->
<!-- eleves -->
<!------------->
{% elif modele == "eleve" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Prénoms</th>
<th>Email</th>
<th>Diplome</th>
<th>Groupe(s)</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr class="h">
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.nom }}</a></td>
<td>{{ ge.prenom }}</td>
<td>{{ ge.email }}</td>
<td>{{ ge.get_diplomes }}</td>
<td>{{ge.get_groupes}}</td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--enseignant--->
<!--------------->
{% elif modele == "enseignant" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Prénoms</th>
<th>Email</th>
<th>Groupe(s)</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.nom }}</a></td>
<td>{{ ge.prenom }}</td>
<td>{{ ge.email }}</td>
<td>{{ge.get_groupes}}</td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--diplome--->
<!--------------->
{% elif modele == "diplome" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Année scolaire</th>
<th>Nb. Périodes</th>
<th>Nb. Filières</th>
<th>Nb. élèves</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge.nom }}</a></td>
<td>{{ ge.anneescolaire }}</td>
<td>{{ ge.get_periodes.count }}</td>
<td>{{ ge.get_filieres.count }}</td>
<td>{{ ge.get_eleves.count }}</td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
{% elif modele == "cours" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge }}</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--ue--->
<!--------------->
{% elif modele == "UE" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Descriptif</th>
<th>Période</th>
<th>Groupe(s)</th>
<th>Diplome</th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >{{ ge }}</a></td>
<td>{{ ge.descriptif }}</td>
<td>{{ge.periode}}</td>
<td>{{ge.get_groupes}}</td>
<td>{{ge.periode.diplome}}</td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
{% endif %}
</div>
</div>
</div>

{% endif %}
</form> 

{% endblock %}




