{% extends "bo/administratifbase.html" %}

{% block liste %}

<!--MENU -->
<form method="post" name="formdelgroupe" id="formdelgroupe">
 {% csrf_token %}
 {% if modele is None %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bo:administratif'  %}">Accueil</a></li>
    </ol>
</nav>
<div class="card">
  <div class="card-header">
    Menu
  </div>
  <ul class="list-group list-group-flush"> 
    <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/diplome" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Diplômes</a>
  </li>
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/filiere" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Filières</a> 
  </li> 
 <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/UE" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;UE</a> 
  </li> 
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/salle" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Salles</a> 
 <!--  </li> 
   <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/cours" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Cours</a> 
  </li> -->
  <!-- <li class="list-group-item">
   <a href="{% url 'bo:administratif'  %}/groupe" class="btn btn-link"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Groupe</a>
  </li>-->
  <li class="list-group-item">
  <a href="{% url 'bo:administratif' %}/eleve " class="btn btn-link"><i class="fas fa-users"></i>&nbsp;&nbsp;&nbsp;Eleves</a> 
  </li>
  <li class="list-group-item">
  <a href="{% url 'bo:administratif'  %}/enseignant" class="btn btn-link"><i class="fas fa-users"></i>&nbsp;&nbsp;&nbsp;Enseignants</a>
  </li>
  </ul>
</div>

<div class="card">
  <div class="card-header">
    Historique
  </div>
  <table class="table dt"> 
  <thead><tr><th>Objet</th><th>Informations</th><th>Utilisateur</th><th>Date de modification</th><th>Raison</th><th></th></tr></thead>
  <tbody>
  {% for lh in listhisto %}
  <tr>
  <td>{{lh.modele}}</td>
  <td>{{lh.info}}</td>
  <td>{{lh.user}}</td>
  <td>{{lh.date}}</td>
  <td>{{lh.reason}}</td>
  <td>{% if lh.reason != "Suppression" %}<a href="{% url 'bo:administratif'  %}/{{lh.link}}">Détails</a>{% endif %}</td>
  </tr>
  {%endfor%}
  </tbody>
  </table>
</div>
 {% endif %}
 {% if modele is not None %}
 
 {% if modeleliste.count == 0 %}
<div class="alert alert-info" role="alert">
Aucun élément !
<a class="btn btn-link" href="{% url 'bo:administratif'  %}/{{modele}}/add">Ajouter un {{modele}}</a>
</div>

{% elif modeleliste.count > 0 %}
 
<div class="card" id="groupesdt_list" {% if oid is not None or mode == "add" %} style="display:none" {% endif %}>
<div class="card-header">
<label class="text-capitalize">Liste des {{modele}}</label>&nbsp;&nbsp;&nbsp;
</div>
<div class="card-body">

<!--{{ formFilter }} -->
<div class="card">
<div class="card-body">
<div class="row">
{% for field in formFilter %}
<div class="col-sm-1"><label>{{ field.label }}</label></div><div class="col-sm-3">{{ field}}</div>
{% endfor %}
</div>
</div>
<div class="card-header">
<a class="btn btn-link" href="{% url 'bo:administratif'  %}/{{modele}}/add">Ajouter</a>
<!-- <span class="btn btn-link" id="groupesdt_add">Ajouter</span> --><input style="display:none" type="submit" class="btn btn-link" name="Supprimer" value="Supprimer" id="supplisteall"> <div class="float-sm-right"><div id="groupesdt_newfilter"></div></div>
<!-- <i class="fas fa-eye imagesearch"></i> -->
</div>
</div>
 
<!------------->
<!-- groupes -->
<!------------->

<div class="table-responsive">
<!--SALLE-->
{% if modele == "salle" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Salle</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> {{ ge.nom }}</td>
<td></td>
<td></td>
<td style="white-space:nowrap"><a>Supprimer</a></td>
<td style="white-space:nowrap"><a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--FILIERE-->
{% elif modele == "filiere" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Groupe</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> {{ ge.nom }}</td>
<td></td>
<td></td>
<td style="white-space:nowrap"><a href="#">Supprimer</a></td>
<td style="white-space:nowrap"><a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--GROUPE-->
{% elif modele == "groupe" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Groupe</th>
<th>Enseignant(s)</th>
<th>Nb. élèves</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> {{ ge.ue }} groupe {{ge.nom}}</td>
<td>
{% for hi in ge.enseignants.all %}
{{hi}}
{% endfor %}
</td>
<td>{{ ge.get_nb_eleves }}</td>
<td style="white-space:nowrap"><a href="#" class="supplist">Supprimer</a></td>
<td style="white-space:nowrap"><a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!------------->
<!-- eleves -->
<!------------->
{% elif modele == "eleve" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Prénoms</th>
<th>Email</th>
<th>Diplome</th>
<th>Groupe(s)</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr class="h">
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> {{ ge.nom }}</td>
<td>{{ ge.prenom }}</td>
<td>{{ ge.email }}</td>
<td>{{ ge.get_diplomes }}</td>
<td>{{ge.get_groupes}}</td>
<td style="white-space:nowrap"><a href="#" class="supplist">Supprimer</a></td>
<td style="white-space:nowrap"><a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--enseignant--->
<!--------------->
{% elif modele == "enseignant" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Prénoms</th>
<th>Email</th>
<th>Groupe(s)</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td> {{ ge.nom }}</td>
<td>{{ ge.prenom }}</td>
<td>{{ ge.email }}</td>
<td>{{ge.get_groupes}}</td>
<td style="white-space:nowrap"><a href="#" class="supplist">Supprimer</a></td>
<td style="white-space:nowrap"> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--diplome--->
<!--------------->
{% elif modele == "diplome" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Année scolaire</th>
<th>Nb. Périodes</th>
<th>Nb. Filières</th>
<th>Nb. élèves</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td>{{ ge.nom }}</td>
<td>{{ ge.anneescolaire }}</td>
<td>{{ ge.get_periodes.count }}</td>
<td>{{ ge.get_filieres.count }}</td>
<td>{{ ge.get_eleves.count }}</td>
<td style="white-space:nowrap"><a  href="#" class="supplist">Supprimer</a></td>
<td style="white-space:nowrap"><a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
{% elif modele == "cours" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
 <td> {{ ge }}</td>
 <td><a href="#" class="supplist">Supprimer</a></td>
  <td> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
<!--------------->
<!--ue--->
<!--------------->
{% elif modele == "UE" %}
<table class="table table-hover dt" id="groupesdt">
<thead>
<tr class="h">
<th style="display:none"><input type="checkbox" id="groupesdt_delall"></th>
<th>Nom</th>
<th>Descriptif</th>
<th>Période</th>
<th>Groupe(s)</th>
<th>Diplome</th>
<th></th>
<th></th>
 </tr>   
</thead>
<tbody>
 {% for ge in modeleliste %}    
<tr>
<td style="display:none"><input type="checkbox" class="groupesdt_del" name='delgroup[]' value={{ ge.id }}></td>
<td>{{ ge }}</td>
<td>{{ ge.descriptif }}</td>
<td>{{ge.periode}}</td>
<td>{{ge.get_groupes}}</td>
<td>{{ge.periode.diplome}}</td>
<td style="white-space:nowrap"><a  href="#" class="supplist">Supprimer</a></td>
<td style="white-space:nowrap"> <a href="{% url 'bo:administratif' %}/{{ modele }}/{{ ge.id }}" >Détail</a></td>
</tr>  
{% endfor %}    
</tbody>   
</table> 
{% endif %}
</div>
{% endif %}
</div>
</div>

{% endif %}
</form> 

{% endblock %}




