{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <title>SKO</title>           
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta charset="utf-8"> 
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!-- Optional theme inutile boostrap 4
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        --><!-- datatable -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <!-- select -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <!-- jquery ui -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <!-- CSS berrand -->
        <link rel="stylesheet" href="{% static 'bo/frontoffice.css'  %}">
        <!-- --fullcalendar -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
        <!-- datetimepciker-->
        <link rel="stylesheet" href="{% static 'bo/bootstrap-datetimepicker.min.css'  %}">
        <!-- font awesome -->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        
        
        <!-- 
        bousille tout ATTENTION----
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">
        -->
        
</head>   
<body>
<!-- MODAL ERROR-->
<div class="modal" id="modalerror" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="pmessage">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL MESSAGE -->
{% if messages %}
 <div class="modal fade" id="modalmessage" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-default">
        <h5 class="modal-title">Message</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      </div>
     <div class="modal-body">
     <p>
     <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</p>
     </div>
      <div class="modal-footer">       
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
     
     </div>
     </div>
     </div>
{% endif %}




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'bo:administratif' %}">SKO <small>admin</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 {% if request.user.is_authenticated %} 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{% block espace %} {% endblock %} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuration
        </a>                   
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">  
        <!-- <a class="nav-link" href="#">Link</a> -->
        <a class="dropdown-item" href="{% url 'bo:administratif'  %}/diplome">Diplome</a>
        <a class="dropdown-item" href="{% url 'bo:administratif'  %}/UE">UE</a>   
        <a class="dropdown-item" href="{% url 'bo:administratif'  %}/groupe">Groupe</a>
        <a class="dropdown-item" href="{% url 'bo:administratif' %}/eleve ">Eleve</a> 
        <a class="dropdown-item" href="{% url 'bo:administratif'  %}/enseignant">Enseignant</a>       
      </div>
      </li>    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compte
        </a>                 
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Utilisateur : {{request.user.username}}</a>
          <a class="dropdown-item" href="#">Profil(s) : {% for g in request.user.groups.all %}{{g.name}}{% endfor %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'bo:deconnexion' %}">Déconnexion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Paramètres</a>
        </div>
      </li>      
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <style>
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
  </style>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchall">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
  {%endif%}
</nav>
<div class="container">

            {% block content %}
            {% endblock %}
<!-- end container -->
</div>  
<!-- jquery -->      
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <!-- bootstrap -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- dattaable -->
 <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <!-- select2 -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
 <!--jquery ui -->
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!--fullcanedar-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
 
 <!--datetimepciker -->
  <!--datetimepciker -->
 <script src="{% static 'bo/bootstrap-datetimepicker.min.js'%}"></script>
 <script src="{% static 'bo/bootstrap-datetimepicker.fr.js'%}"></script>
 <!--js commun apps -->
 <script src="{% static 'bo/frontoffice.js' %}"></script>
{% block javascript %}{% endblock %}

<!-- CSRF PROTECTION AJAX -->
 <script>
 
 function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

</script>

<!--DISPLAY MODAL MESSAGE -->
{% if messages %}
<script>$(document).ready(function(e){$("#modalmessage").modal('show');});</script>
{% endif %}

</body>
</html>