{% extends "bo/base_generic.html" %}

{% block espace %}
Espace enseignant
{% endblock %}

{% block content %}
<div class="alert alert-info">
<p>Bonjour vous etes connecté en tant que :</p>
</div>

<table class="table">
 <tr>
     
 <td>Nom d'utilisateur</td>
     
 <td>{{ user }}</td>
     
 </tr>
 <tr>
     
 <td>Groupe(s)</td>
     
 <td>
 {% for e in ug %}
{{ e }}
{% endfor %}</td>
    
</tr>      
</table>
<div class="alert alert-info">
<p>Vos groupes :</p>
</div>
<table class="table">
 {% for ge in groupeenseignant %}    
<tr>
 <td>
 {{ ge.ue.nom }}
</td>
<td>
{{ ge.nom }}
</td>
</tr>  
{% endfor %}       
</table>

{{ groupeenseignant}}

{% endblock %}




