{% extends "bo/base_generic.html" %}
{% block content %}
<form method="post"  role="form" action="{% url 'bo:index' %}">
{% csrf_token %}

<div class="row d-flex justify-content-center">
<div>
<table class="table">
<tr><td><input type="text" class="form-control" name="username" placeholder="Utilisateur"></td></tr
><tr><td><input type="password"  class="form-control" name="password" placeholder="Mot de passe"></td></tr>
<tr><td><input type="submit" value="login" class="btn btn-primary btn-block" /></td></tr>
</table>
{% if error == "oui" %}
<div class="alert alert-danger">
  <strong>Erreur!</strong> Impossible de se connecter
</div>
{%endif %}
</div>
</div>
</form>
{%endblock%}